<style>
  #pr-img {
    width: 100%;
    height: 100%;
  }
  #dummy-chat-button-iframe {
    display: none !important;
  }
  .swiper-slide-thumb-active > img {
    opacity: 1 !important;
  }

  .swiper-slide-visible > img {
    background-color: #000000;
  }
  /* .sw-th > .swiper-slide{
    width: 70px !important;
  } */
  .mySwiper {
    width: 30%;
  }
  .swiper-zoom-container {
    margin: -0.2rem 0;
  }
  .swiper-pagination-bullet {
    background: none;
    border: 1px solid white;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: white;
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: black;
  }
  .swiper-horizontal
    > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
  .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
  .swiper-pagination-progressbar.swiper-pagination-vertical,
  .swiper-vertical > .swiper-pagination-progressbar {
    right: 0 !important;
    left: auto !important;
    height: 98.7% !important;
  }
  @media screen and (max-width: 767px) {
    .swiper-horizontal
      > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
    .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
    .swiper-pagination-progressbar.swiper-pagination-vertical,
    .swiper-vertical > .swiper-pagination-progressbar {
      right: 5vw !important;
      height: 100%;
    }
    .mySwiper {
      display: none;
    }
    .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical > .swiper-pagination-bullets {
      right: 13vw !important;
    }
  }
</style>
<v-app>
  <div id="prslid">
    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign product_thumb_size = '160x' -%} {%- assign
    product_image_zoom_size = '1800x1800' -%} {%- assign enable_zoom =
    settings.enable_zoom -%}
    <div class="d-flex justify-center mb-6 bg-surface-variant">
      <v-sheet
        :height="heightS2"
        :width="widthS2"
        style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
        class="swiper mySwiper2"
      >
        <div class="swiper-wrapper sw-sl">
          {% for media in product.media %} {% case media.media_type %} {% when
          'image' %}
          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <img
                id="pr-img"
                src="{{ media | img_url: '450x' }}"
                alt="{{ media.alt }}"
              />
            </div>
          </div>
          {% endcase %} {% endfor %}
        </div>

        <div class="swiper-pagination"></div>
      </v-sheet>
      <v-sheet thumbsSlider="" class="swiper mySwiper">
        <div class="swiper-wrapper sw-th">
          {% for media in product.media %} {% case media.media_type %} {% when
          'image' %}
          <div class="swiper-slide">
            <img src="{{ media | img_url: '100x100' }}" alt="{{ media.alt }}" />
          </div>
          {% endcase %} {% endfor %}
        </div>
      </v-sheet>
    </div>
  </div>
  <div>
    <v-btn
          color="success"
          class="mt-12"
          @click="overlay = !overlay"
        >
          Show Overlay
        </v-btn>
  <v-overlay
          :absolute="absolute"
          :value="overlay"
        >
    <p>{{ product.description }}</p>
  </v-overlay>
  </div>
  
</v-app>

<script>
  const vue = new Vue({
    el: "#prslid",
    data: () => ({
        absolute: true,
      overlay: false,
      }),
    vuetify: new Vuetify(),
    computed: {
      widthS2() {
        switch (this.$vuetify.breakpoint.name) {
          case "xs":
            return "100%";
          case "sm":
            return "100%";
          case "md":
            return "30%";
          case "lg":
            return "30%";
          case "xl":
            return "35%";
        }
      },
      heightS2() {
        switch (this.$vuetify.breakpoint.name) {
          case "xs":
            return "125vw";
          case "sm":
            return "125vw";
          case "md":
            return "45vw";
          case "lg":
            return "45vw";
          case "xl":
            return "35vw";
        }
      },
    },
    mounted() {
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 2,
        loop: true,
        slidesPerView: 5,
        freeMode: true,
        watchSlidesProgress: true,
      });
      var swiper2 = new Swiper(".mySwiper2", {
        direction: "vertical",
        loop: true,
        mousewheel: true,
        pagination: {
          el: ".swiper-pagination",
          type: "progressbar",
          clickable: true,
        },
        zoom: {
          maxRatio: 2,
          minRatio: 1.2,
        },
        thumbs: {
          swiper: swiper,
        },
      });
    },
    delimiters: ["${", "}"],
  });
</script>
